<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLServer" 
         connectionString="
         Data Source=.\;
         Initial Catalog=SQLExam;
         MultipleActiveResultSets=True;
         User Id=sa;Password=@tet0380"/>
  </connectionStrings>
</configuration>