<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add 
      name="ModelDataAccess_SQLServer" 
      connectionString="Persist Security Info=False;User ID=sa; Password=Administrator1; Initial Catalog=FoodBeverage;Data Source=.\Sql_2k8R2;" />
  </connectionStrings>
</configuration>

